[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/naodeng/hugo-paper
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/naodeng/hugo-PaperMod.git
